.nav-link{
    position: relative;
}

.nav-link::after{
    content:'';
    background-color: aqua;
    width: 0;
    height: 3px;
    position: absolute;
    margin: 0;
    top: 35px;
    left: 0;
    transition: .2s linear;
}
.nav-link:hover::after{
    width: 100%;
}